<p id="notice"><%= notice %></p>

<p>
  <strong>Edad:</strong>
  <%= @pediatric_history.edad %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @pediatric_history.genero %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @pediatric_history.peso %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @pediatric_history.talla %>
</p>

<p>
  <strong>Lugar nacimiento:</strong>
  <%= @pediatric_history.lugar_nacimiento %>
</p>

<p>
  <strong>Lugar residencia:</strong>
  <%= @pediatric_history.lugar_residencia %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @pediatric_history.padre %>
</p>

<p>
  <strong>Madre:</strong>
  <%= @pediatric_history.madre %>
</p>

<p>
  <strong>Diagnostico familiar:</strong>
  <%= @pediatric_history.diagnostico_familiar %>
</p>

<p>
  <strong>Antecedentes pre-natales:</strong>
  <%= @pediatric_history.antecedentes_prenatales %>
</p>

<p>
  <strong>Antecedentes natales:</strong>
  <%= @pediatric_history.antecedentes_natales %>
</p>

<p>
  <strong>Antecedentes post-natales:</strong>
  <%= @pediatric_history.antecedentes_postnatales %>
</p>

<p>
  <strong>Sintomas generales:</strong>
  <%= @pediatric_history.sintomas_generales %>
</p>

<%= link_to 'Edit', edit_pediatric_history_path(@pediatric_history) %> |
<%= link_to 'Back', pediatric_histories_path %>
