<p id="notice"><%= notice %></p>

<h1>Listing Growth Controls</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Edad</th>
      <th>Peso</th>
      <th>Talla</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @growth_controls.each do |growth_control| %>
      <tr>
        <td><%= growth_control.fecha %></td>
        <td><%= growth_control.edad %></td>
        <td><%= growth_control.peso %></td>
        <td><%= growth_control.talla %></td>
        <td><%= link_to 'Show', growth_control %></td>
        <td><%= link_to 'Edit', edit_growth_control_path(growth_control) %></td>
        <td><%= link_to 'Destroy', growth_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Growth control', new_growth_control_path %>
