<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @growth_control.fecha %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @growth_control.edad %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @growth_control.peso %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @growth_control.talla %>
</p>

<%= link_to 'Edit', edit_growth_control_path(@growth_control) %> |
<%= link_to 'Back', growth_controls_path %>
