<p id="notice"><%= notice %></p>

<h1>Listado de Historias Medicas</h1>

<table>
  <thead>
    <tr>
      <th>Tipo sangre</th>
      <th>Peso</th>
      <th>Altura</th>
      <th>Posee alergias</th>
      <th>Alergias</th>
      <th>Fumador</th>
      <th>Ocupacion</th>
      <th>Antecedentes lesiones</th>
      <th>Antecedentes familiares</th>
      <th>Condicion medica actual</th>
      <th>Cirugias</th>
      <th>Reg its sida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_histories.each do |medical_history| %>
      <tr>
        <td><%= medical_history.tipo_sangre %></td>
        <td><%= medical_history.peso %></td>
        <td><%= medical_history.altura %></td>
        <td><%= medical_history.posee_alergias %></td>
        <td><%= medical_history.alergias %></td>
        <td><%= medical_history.fumador %></td>
        <td><%= medical_history.ocupacion %></td>
        <td><%= medical_history.antecedentes_lesiones %></td>
        <td><%= medical_history.antecedentes_familiares %></td>
        <td><%= medical_history.condicion_medica_actual %></td>
        <td><%= medical_history.cirugias %></td>
        <td><%= medical_history.reg_its_sida %></td>
        <td><%= link_to 'Mostrar', medical_history %></td>
        <td><%= link_to 'Editar', edit_medical_history_path(medical_history) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>