<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo sangre:</strong>
  <%= @medical_history.tipo_sangre %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @medical_history.peso %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @medical_history.altura %>
</p>

<p>
  <strong>Posee alergias:</strong>
  <%= @medical_history.posee_alergias %>
</p>

<p>
  <strong>Alergias:</strong>
  <%= @medical_history.alergias %>
</p>

<p>
  <strong>Fumador:</strong>
  <%= @medical_history.fumador %>
</p>

<p>
  <strong>Ocupacion:</strong>
  <%= @medical_history.ocupacion %>
</p>

<p>
  <strong>Antecedentes lesiones:</strong>
  <%= @medical_history.antecedentes_lesiones %>
</p>

<p>
  <strong>Antecedentes familiares:</strong>
  <%= @medical_history.antecedentes_familiares %>
</p>

<p>
  <strong>Condicion medica actual:</strong>
  <%= @medical_history.condicion_medica_actual %>
</p>

<p>
  <strong>Cirugias:</strong>
  <%= @medical_history.cirugias %>
</p>

<p>
  <strong>Reg its sida:</strong>
  <%= @medical_history.reg_its_sida %>
</p>

<%= link_to 'Editar', edit_medical_history_path(@medical_history) %> |
<%= link_to 'Atras', medical_histories_path %>
