<%= form_for(@pediatric_appointment) do |f| %>
  <% if @pediatric_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pediatric_appointment.errors.count, "errore") %> No permiten que esta cita sea guardada:</h2>
      <ul>
      <% @pediatric_appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p id="notice"><%= notice %></p>

  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.date_field :fecha %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_field :hora %>
  </div>
  <div class="field">
    <%= f.label :motivo %><br>
    <%= f.collection_select(:motivo, @registros.buscar_tabla(6) , :rec_varchar, :rec_varchar, {:include_blank => true}, {:multiple => false})  %>
  </div>
    <%= f.hidden_field :estado %>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsable %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :relacion %><br>
    <%= f.text_field :relacion %>
  </div>
    <%= f.hidden_field :patient_id %>
  <div class="field">
    <%= f.label 'Cedula del padre o madre:' %><br>
    <%= text_field_tag 'cedula_representante' %>
  </div>
  <div class="field">
    <%= f.label :doctor %><br>
    <%= f.collection_select(:doctor_id, Doctor.pediatras, :id, :nombre, {:include_blank => true}, {:multiple => false})  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
