<%= render "layouts/pediatria" %>

<%= form_tag @citas_del_dia_pediatric_appointments_path, :method => 'get', :id => "pediatric_appointments_search" do%>
    <%= date_field_tag :search, params[:search] %>
    <%= submit_tag "buscar", :name => nil %>
<%end%>

<p id="notice"><%= notice %></p>

<h1>Listado de citas pediatricas</h1>

<table>
  <thead>
    <tr>
      <th>Responsable</th>
      <th>Telefono</th>
      <th>Relacion</th>
      <th>nombre de paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pediatric_appointments.each do |pediatric_appointment| %>
      <tr>
        <td><%= pediatric_appointment.responsable %></td>
        <td><%= pediatric_appointment.telefono %></td>
        <td><%= pediatric_appointment.relacion %></td>
        <td><%= pediatric_appointment.pediatric_patient.nombre %></td>
        <td><%= link_to 'Show', pediatric_appointment %></td>
        <td><%= link_to 'Edit', edit_pediatric_appointment_path(pediatric_appointment) %></td>
        <td><%= link_to 'Destroy', pediatric_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

