<%= render "layouts/pediatria" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Responsable:</strong>
  <%= @pediatric_appointment.responsable %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @pediatric_appointment.telefono %>
</p>

<p>
  <strong>Relacion:</strong>
  <%= @pediatric_appointment.relacion %>
</p>

<p>
  <strong>Patients:</strong>
  <%= @pediatric_appointment.pediatric_patient.nombre + ' ' + @pediatric_appointment.pediatric_patient.apellido %>
</p>

<%= link_to 'Editar', edit_pediatric_appointment_path(@pediatric_appointment) %> |
<%= link_to 'Atras', citas_del_dia_pediatric_appointments_path %>
