<%= render "layouts/pediatria" %>

<h1>Editar datos del paciente <%=@pediatric_patient.nombre%> <%=@pediatric_patient.apellido%></h1>

<%= render 'form' %>

<%= link_to 'Show', @pediatric_patient %> |
<%= link_to 'Back', pediatric_patients_path %>
