
<h1>Listado de Pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Historia medica</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Fecha nacimiento</th>
      <th>Edad</th>
      <th>Fecha ingreso</th>
      <th>Estado civil</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <% if age(patient.fecha_nacimiento) < 1 %>
        <% if (DateTime.now.to_date - patient.fecha_nacimiento).to_i / 30 == 1 %>
          <% @edad = ((DateTime.now.to_date - patient.fecha_nacimiento).to_i / 30).to_s + " mes" %>
        <% else %>
          <% @edad = ((DateTime.now.to_date - patient.fecha_nacimiento).to_i / 30).to_s + " meses"  %>
        <%end%>
      <% else %>
        <% if age(patient.fecha_nacimiento) == 1 %>
          <% @edad = (age(patient.fecha_nacimiento)).to_s + " año" %>
        <% else %>
          <% @edad = (age(patient.fecha_nacimiento)).to_s + " años" %>
        <%end%>
      <%end%>
      <tr>
        <td style="text-align: center;"><%= patient.cedula %></td>
        <td style="text-align: center;"><%= patient.num_hist_medica.to_s.rjust(4, '0') %></td>
        <td style="text-align: center;"><%= patient.apellido %></td>
        <td style="text-align: center;"><%= patient.nombre %></td>
        <td style="text-align: center; width: 10em;"><%= patient.fecha_nacimiento %></td>
        <td style="text-align: center; width: 10em;"><%= @edad %></td>
        <td style="text-align: center; width: 10em;"><%= patient.fecha_ingreso %></td>
        <td style="text-align: center;"><%= patient.estado_civil %></td>
        <td style="text-align: center;"><%= patient.telefono %></td>
        <td style="text-align: center;"><%= patient.direccion %></td>
        <td style="text-align: center;"><%= link_to 'Mostrar', patient %></td>
        <td style="text-align: center;"><%= link_to 'Actualizar datos', edit_patient_path(patient) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div style="text-align: center;"><%= will_paginate @patients %></div>

