<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> Prohiben que este paciente se guarde:</h2>
      <ul>
      <% @patient.errors.messages.values.each do |message| %>
        <% message.each do  |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3> Datos Personales </h3>
  <table class = "noborder">
    <tr class = "noborder">
      <td class = "noborder">
        <div class="field">
          <%= f.label :cedula %><br>
          <%= f.text_field :cedula %>
        </div>
      </td>
        <%= f.hidden_field :num_hist_medica %>
      <td class = "noborder">
        <div class="field">
          <%= f.label :apellido %><br>
          <%= f.text_field :apellido %>
        </div>
      </td>
      <td class = "noborder">
        <div class="field">
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre %>
        </div>
      </td>
      <td class = "noborder">
        <div class="field">
          <%= f.label :fecha_nacimiento %><br>
          <%= f.date_field :fecha_nacimiento %>
        </div>
      </td>
    </tr>
    <tr class = "noborder">
      <td class = "noborder">
        <div class="field">
          <%= f.label :fecha_ingreso %><br>
          <%= f.date_field :fecha_ingreso %>
        </div>
      </td>
      <td class = "noborder">
        <div class="field">
          <%= f.label :estado_civil %><br>
          <%= f.collection_select(:estado_civil, @registros.buscar_tabla(4) , :rec_varchar, :rec_varchar, {:include_blank => true}, {:multiple => false})  %>
        </div>
      </td>
      <td class = "noborder">
        <div class="field">
          <%= f.label :telefono %><br>
          <%= f.text_field :telefono %>
        </div>
      </td>
    </tr>
    <tr class = "noborder">
      <td class = "noborder">
      <div class="field">
        <%= f.label :direccion %><br>
        <%= f.text_area :direccion %>
      </div>
      </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<%end%>