<%= form_for(@pediatric_control) do |f| %>
  <% if @pediatric_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pediatric_control.errors.count, "error") %> No permiten generar el control pediatrico:</h2>

      <ul>
      <% @pediatric_control.errors.messages.values.each do |message| %>
        <% message.each do  |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :pediatric_history_id %>
  <table id="no_border">
    <tr>
      <td>
      <div class="field">
        <%= f.label 'B C G 1: ' %><br>
        <%= f.date_field :bcg1 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'B C G 2: ' %><br>
        <%= f.date_field :bcg2 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'B C G 3: ' %><br>
        <%= f.date_field :bcg3 %>
      </div>
      </td>
      </tr>
      <tr>
      <td>
      <div class="field">
        <%= f.label 'Trile 1: ' %><br>
        <%= f.date_field :triple1 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Trile 2: ' %><br>
        <%= f.date_field :triple2 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Trile 3: ' %><br>
        <%= f.date_field :triple3 %>
      </div>
      </td>
      </tr>
      <tr>
      <td>
      <div class="field">
        <%= f.label 'Refuerzo Trile 1: ' %><br>
        <%= f.date_field :ref_triple1 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Refuerzo Trile 2: ' %><br>
        <%= f.date_field :ref_triple2 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Refuerzo Trile 3: ' %><br>
        <%= f.date_field :ref_triple3 %>
      </div>
      </td>
      </tr>
      <tr>
      <td>
      <div class="field">
        <%= f.label 'Polio 1: ' %><br>
        <%= f.date_field :polio1 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Polio 2: ' %><br>
        <%= f.date_field :polio2 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Polio 3: ' %><br>
        <%= f.date_field :polio3 %>
      </div>
      </td>
      </tr>
      <tr>
      <td>
      <div class="field">
        <%= f.label 'Refuerzo Polio 1: ' %><br>
        <%= f.date_field :ref_polio1 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Refuerzo Polio 2: ' %><br>
        <%= f.date_field :ref_polio2 %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label 'Refuerzo Polio 3: ' %><br>
        <%= f.date_field :ref_polio3 %>
      </div>
      </td>
    </tr>
  </table>
  <div class="field">
    <%= f.label 'Sarampion: ' %><br>
    <%= f.date_field :sarampion %>
  </div>
  <div class="field">
    <%= f.label 'Parotiditis: ' %><br>
    <%= f.date_field :parotiditis %>
  </div>
  <div class="field">
    <%= f.label 'Rubeola: ' %><br>
    <%= f.date_field :rubeola %>
  </div>
  <div class="field">
    <%= f.label 'Fiebre Amarilla: ' %><br>
    <%= f.date_field :f_amarilla %>
  </div>
  <div class="field">
    <%= f.label 'Trivalente: ' %><br>
    <%= f.date_field :trivalente %>
  </div>
  <div class="field">
    <%= f.label 'Otras: ' %><br>
    <%= f.text_area :otras %>
  </div>
  <div class="field">
    <%= f.label 'Observaciones: ' %><br>
    <%= f.text_area :observaciones %>
  </div>
  <div class = "field">
    <%= f.fields_for :growth_controls do |builder| %>
      <%= render 'growth_control_fields', f: builder %>
    <%end%>
  <div>
    <%= link_to_add_fields "Agregar Control de Crecimiento",f, :growth_controls  %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
