<%= render "layouts/otras" %>

<h1>Control pediatrico del paciente <%=@paciente.nombre%> <%=@paciente.apellido%></h1>

<%= render 'form' %>

<%= link_to 'Show', @pediatric_control %> |
<%= link_to 'Back', pediatric_patients_path %>
