<h1>Citas medicas de <%= current_user.nombre %></h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Cedula</th>
      <th>Telefono del paciente</th>
      <th>estado</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.fecha.strftime('%d/%m/%y') %></td>
        <td><%= appointment.hora.strftime('%I:%M.%P') %></td>
        <td><%= appointment.patient.apellido %></td>
        <td><%= appointment.patient.nombre %></td>
        <td><%= appointment.patient.cedula %></td>
        <td><%= appointment.patient.telefono %></td>
        <%if (appointment.estado==true)%>
          <td><%= 'activa' %></td>
        <%else%>
          <td><%= 'calcelada' %></td>
        <%end%>
        <td><%= link_to 'Ver', appointment %></td>
        <%if (appointment.estado==true)%>
        	<td><%= link_to 'cancelar', cancelar_appointments_path(id: appointment.id) %></td>
        <%else%>
        	<td><%= link_to 'reactivar', reactivar_appointments_path(id: appointment.id) %></td>
        <%end%>
        <%if appointment.appointment_report %>
        	<td><%= link_to 'Mostrar reporte', appointment.appointment_report %></td>
        <%else%>
        	<td><%= link_to 'Generar reporte', new_appointment_report_path(appointment_id: appointment.id) %></td>
        <%end%>
        <td><%= link_to 'Editar', edit_appointment_path(appointment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @appointments %>

<br>
