<%= render "layouts/otras" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>fecha:</strong>
  <%= @appointment.fecha.strftime('%d/%m/%y') %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @appointment.hora.strftime('%I:%M.%P') %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @appointment.patient.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @appointment.patient.nombre %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @appointment.patient.cedula %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @appointment.patient.telefono %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.nombre + ' ' +@appointment.doctor.apellido %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
